Repository NoBrainCp/nobrain-backend, pull requests merged in 2023-05, with the labels that each got.

#180 Test: User sign service test code
  src/main/java/com/nobrain/bookmarking/domain/user/dto/UserRequest.java
  src/main/java/com/nobrain/bookmarking/domain/user/dto/UserResponse.java
  src/main/java/com/nobrain/bookmarking/domain/user/entity/User.java
  src/main/java/com/nobrain/bookmarking/domain/user/service/UserService.java
  src/main/resources/application-test.yml
  src/test/java/com/nobrain/bookmarking/Constants.java
  src/test/java/com/nobrain/bookmarking/ServiceTest.java
  src/test/java/com/nobrain/bookmarking/domain/bookmark/repository/BookmarkQueryRepositoryImplTest.java
  src/test/java/com/nobrain/bookmarking/domain/user/service/UserServiceTest.java
  src/test/java/com/nobrain/bookmarking/domain/user/service/UserSignServiceTest.java
Labels: test

#181 Implemented user service unit test
  src/main/java/com/nobrain/bookmarking/domain/user/controller/UserController.java
  src/main/java/com/nobrain/bookmarking/domain/user/dto/UserRequest.java
  src/main/java/com/nobrain/bookmarking/domain/user/dto/UserResponse.java
  src/main/java/com/nobrain/bookmarking/domain/user/service/UserService.java
  src/main/java/com/nobrain/bookmarking/infra/s3/service/S3Service.java
  src/test/java/com/nobrain/bookmarking/Constants.java
  src/test/java/com/nobrain/bookmarking/domain/user/service/UserServiceTest.java
  src/test/java/com/nobrain/bookmarking/domain/user/service/UserSignServiceTest.java
Labels: test

#185 user sign controller test code
  build.gradle
  src/main/java/com/nobrain/bookmarking/domain/user/controller/UserSignController.java
  src/test/java/com/nobrain/bookmarking/BookmarkingApplicationTests.java
  src/test/java/com/nobrain/bookmarking/Constants.java
  src/test/java/com/nobrain/bookmarking/ControllerTest.java
  src/test/java/com/nobrain/bookmarking/ServiceTest.java
  src/test/java/com/nobrain/bookmarking/config/RestDocsConfig.java
  src/test/java/com/nobrain/bookmarking/docs/RestDocsTestSupport.java
  src/test/java/com/nobrain/bookmarking/domain/user/controller/UserSignControllerTest.java
  src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
Labels: test

#188 Test/category service
  src/main/java/com/nobrain/bookmarking/domain/category/controller/CategoryController.java
  src/main/java/com/nobrain/bookmarking/domain/category/dto/CategoryRequest.java
  src/main/java/com/nobrain/bookmarking/domain/category/entity/Category.java
  src/main/java/com/nobrain/bookmarking/domain/category/repository/CategoryQueryRepository.java
  src/main/java/com/nobrain/bookmarking/domain/category/repository/CategoryQueryRepositoryImpl.java
  src/main/java/com/nobrain/bookmarking/domain/category/service/CategoryService.java
  src/test/java/com/nobrain/bookmarking/Constants.java
  src/test/java/com/nobrain/bookmarking/ServiceTest.java
  src/test/java/com/nobrain/bookmarking/domain/category/service/CategoryServiceTest.java
Labels: refactor, test

#189 [#187] test: test: created getCategories test code
  src/test/java/com/nobrain/bookmarking/Constants.java
  src/test/java/com/nobrain/bookmarking/domain/category/service/CategoryServiceTest.java
Labels: test

#190 [Test/bookmark service] Bookmark service test coverage 100%
  src/main/java/com/nobrain/bookmarking/domain/bookmark/dto/BookmarkRequest.java
  src/main/java/com/nobrain/bookmarking/domain/bookmark/entity/Bookmark.java
  src/main/java/com/nobrain/bookmarking/domain/bookmark/repository/BookmarkQueryRepository.java
  src/main/java/com/nobrain/bookmarking/domain/bookmark/repository/BookmarkQueryRepositoryImpl.java
  src/main/java/com/nobrain/bookmarking/domain/bookmark/service/BookmarkService.java
  src/main/java/com/nobrain/bookmarking/global/entity/BaseTimeEntity.java
  src/test/java/com/nobrain/bookmarking/Constants.java
  src/test/java/com/nobrain/bookmarking/ServiceTest.java
  src/test/java/com/nobrain/bookmarking/domain/bookmark/service/BookmarkServiceTest.java
  src/test/java/com/nobrain/bookmarking/domain/category/service/CategoryServiceTest.java
Labels: refactor, test, cleanup

#192 test/tag service - coverage 100%
  src/main/java/com/nobrain/bookmarking/domain/bookmark_tag/entity/BookmarkTag.java
  src/main/java/com/nobrain/bookmarking/domain/tag/entity/Tag.java
  src/test/java/com/nobrain/bookmarking/Constants.java
  src/test/java/com/nobrain/bookmarking/ServiceTest.java
  src/test/java/com/nobrain/bookmarking/domain/tag/service/TagServiceTest.java
Labels: test

#194 [test/follow-service] Follow service test code - coverage 100%
  src/main/java/com/nobrain/bookmarking/domain/follow/dto/FollowResponse.java
  src/test/java/com/nobrain/bookmarking/Constants.java
  src/test/java/com/nobrain/bookmarking/ServiceTest.java
  src/test/java/com/nobrain/bookmarking/domain/follow/service/FollowServiceTest.java
Labels: refactor, test

#197 [test/category controller] Category controller test code - coverage 100%
  src/main/java/com/nobrain/bookmarking/domain/auth/interceptor/AuthInterceptor.java
  src/main/java/com/nobrain/bookmarking/domain/auth/service/JwtTokenProvider.java
  src/main/java/com/nobrain/bookmarking/domain/auth/service/JwtTokenProviderImpl.java
  src/main/java/com/nobrain/bookmarking/domain/auth/util/JwtTokenExtractor.java
  src/main/java/com/nobrain/bookmarking/domain/category/controller/CategoryController.java
  src/main/java/com/nobrain/bookmarking/domain/category/dto/CategoryRequest.java
  src/main/java/com/nobrain/bookmarking/domain/category/entity/Category.java
  src/main/java/com/nobrain/bookmarking/domain/user/resolver/AuthArgumentResolver.java
  src/main/java/com/nobrain/bookmarking/global/config/WebConfig.java
  src/test/java/com/nobrain/bookmarking/Constants.java
  src/test/java/com/nobrain/bookmarking/ControllerTest.java
  src/test/java/com/nobrain/bookmarking/domain/category/controller/CategoryControllerTest.java
Labels: refactor, test, cleanup

#199 Test/bookmark tag service - test coverage 100%
  src/main/java/com/nobrain/bookmarking/domain/bookmark/dto/BookmarkRequest.java
  src/test/java/com/nobrain/bookmarking/Constants.java
  src/test/java/com/nobrain/bookmarking/ServiceTest.java
  src/test/java/com/nobrain/bookmarking/domain/bookmark_tag/service/BookmarkTagServiceTest.java
Labels: refactor, test

#201 [test/tag-controller] Tag controller test code -coverage 100%
  src/test/java/com/nobrain/bookmarking/domain/tag/controller/TagControllerTest.java
Labels: test

#203 [test/bookmark-tag-controller] bookmark tag controller test code - coverage 100%
  src/test/java/com/nobrain/bookmarking/ControllerTest.java
  src/test/java/com/nobrain/bookmarking/domain/bookmark_tag/controller/BookmarkTagControllerTest.java
  src/test/java/com/nobrain/bookmarking/domain/bookmark_tag/service/BookmarkTagServiceTest.java
Labels: test

#205 [test/follow-controller] Follow controller test code - coverage 100%
  src/test/java/com/nobrain/bookmarking/Constants.java
  src/test/java/com/nobrain/bookmarking/domain/bookmark_tag/service/BookmarkTagServiceTest.java
  src/test/java/com/nobrain/bookmarking/domain/follow/controller/FollowControllerTest.java
  src/test/java/com/nobrain/bookmarking/domain/follow/service/FollowServiceTest.java
Labels: test

#207 v1.0.0 code clean up
  README.md
  build.gradle
  src/main/java/com/nobrain/bookmarking/domain/auth/interceptor/AuthInterceptor.java
  src/main/java/com/nobrain/bookmarking/global/config/SwaggerConfig.java
Labels: refactor, setting, style
